.textbar-container
  display: block
  padding: 25px 60px
  min-width: 80px
  width: 10vw
  border: 1px solid red

  .textbar
    position: fixed
    top: 100px
    left: 100px
    height: 80vh
    overflow-y: scroll
    padding: 0 25px
    border: 1px solid green

    .title
      font-weight: bold
    
    .subhead
      font-style: italic