.word-page
  display: grid
  grid-template-columns: minmax(280px, max-content) 60vw
  justify-content: space-between
  
  .header
    div
      display: grid
      position: relative
      grid-template-columns: max-content 1fr
      align-items: center

      .title
        width: max-content
        &:hover + .ellipsis-container .dropdown-toggle .ellipsis
          opacity: 1

      .ellipsis-container
        display: flex
        position: relative
        height: 50px
        width: 50px

        &:hover .ellipsis
          opacity: 1

        .menu-delete
          padding: 20px 25px
          font-size: 20px

        .dropdown-toggle
          position: absolute
          opacity: 1
          color: black
          z-index: 1000

          &:hover .ellipsis
            opacity: 1

          .ellipsis
            opacity: 0

            &:hover
              opacity: 1