
.image-gallery-slide img
  height: 300px
  object-fit: cover
  
.image-gallery-thumbnails img
  height: 100px
  object-fit: cover

.word-page
  display: grid
  grid-template-columns: minmax(280px, max-content) 60%
  
  .header
    div
      display: grid
      position: relative
      grid-template-columns: max-content 1fr
      align-items: center

      .title
        margin: 0
        width: max-content
        &:hover + .ellipsis-container .dropdown-toggle .ellipsis
          opacity: 1

      .ellipsis-container
        display: flex
        position: relative
        height: 50px
        width: 50px

        &:hover .ellipsis
          opacity: 1

        .menu-delete
          padding: 20px 25px
          font-size: 20px

        .dropdown-toggle
          position: absolute
          opacity: 1
          color: black
          z-index: 1000

          &:hover .ellipsis
            opacity: 1

          .ellipsis
            opacity: 0

            &:hover
              opacity: 1

  .tags
    display: grid
    grid-auto-flow: column
    grid-template-columns: repeat(auto-fill, minmax(max-content, 11px))
    align-content: center
    grid-column-gap: 10px
    margin: 0 0 15px
    padding: 0

    .tag-text
      padding: 0
      margin: 0
      letter-spacing: .5px
      color: $white
      font: normal 12px monsterrat, sans-serif

  .dropzone
    outline: none
    
    &:hover
      cursor: pointer
      text-decoration: underline